
.openerp .oe_price_password {
    height: 35px;
    width: 300px;
    font-size: 12px;
    text-shadow: 0 1px 0 #FFF;
    outline: none;
    background: -webkit-gradient(linear, left top, left bottom, from(#BCBCBE), to(#FFF));
    background: -moz-linear-gradient(top, #BCBCBE, #FFF);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #717171;
    -webkit-box-shadow: 1px 1px 0 #EFEFEF;
    -moz-box-shadow: 1px 1px 0 #efefef;
    box-shadow: 1px 1px 0 #EFEFEF;
}

.ui-dialog, .modal-dialog {
    background: #D3D3D3;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    font-family: sans-serif;
    box-shadow: 0px 10px 40px rgba(0,0,0,0.4);
    position: absolute;
    top: 240px;
    left : 700px;
    height : 250px;
}

.ui-dialog button, .modal-dialog button {
    display: inline-block;
    color: #666;
    background-color: #eee;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    padding: 10px 30px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.3);
    border-bottom-width: 3px;
}